<!DOCTYPE html>
<html lang="ja" ng-app="mySwipe">
<head>
	<meta charset="UTF-8">
	<title>Swipeアニメーション</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="angular.min.js"></script>
	<script src="angular-resource.js"></script>
	<script src="common.js"></script>
</head>
<body>

	<div class="top" ng-controller="MainCtrl">
		<li class="user" ng-repeat="user in users" ng-class="{like : user.like , nope : user.nope}">
			<div class="image"><img src="{{user.images}}" alt=""></div>
			<h2 ng-model="namae">{{user.firstname}}  {{user.lastname}}</h2>
			<p>ログイン時間</p>
			<button type="">ボタン</button>
			<button type="">ボタン</button>
		</li>
		<button type="" id="square">ボタンです</button>
	</div>
</body>
</html>