<!DOCTYPE html>
<html lang="ja" ng-app="mySwipe">
<head>
	<meta charset="UTF-8">
	<title>Swipeアニメーション</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="angular.min.js"></script>
	<script src="angular-resource.js"></script>
	<script src="common.js"></script>
</head>
<body>

	<div class="top" ng-controller="MainCtrl">
		<li class="user" ng-repeat="user in users| orderBy :random" ng-class="{like : user.like , nope : user.nope}">
			<div class="image"><img src="{{user.images}}" ng-model="img" alt=""></div>
			<h2 class="namae">{{user.firstname}}  {{user.lastname}}</h2>
			<p class="login">ログイン時間</p>
			<button type="" ng-click="like()">好きです！</button>
			<button type="" ng-click="nope()">嫌いです！</button>
		</li>
		<button type="" id="square">ボタン</button>
		<div class="pre">
		<pre>{{likeusers}}</pre>
		<pre>{{nopeusers}}</pre>
		</div>
	</div>
</body>
</html>