<!DOCTYPE html>
<html lang="ja" ng-app="mySwipe">
<head>
	<meta charset="UTF-8">
	<title>Swipeアニメーション</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="angular.min.js"></script>
	<script src="angular-resource.js"></script>
	<script src="angular-animate.min.js"></script>
	<script src="angular-touch.min.js"></script>
	<script src="third.js"></script>
</head>
<body onselectstart="return false;" onmousedown="return false;">

	<div class="top" ng-controller="MainCtrl">
		<li class="user" ng-repeat="user in users| orderBy"  ng-swipe-right="like($index)" ng-swipe-left="nope($index)" ng-attr-id="{{"hogehoge_" + $index}}">
			<div class="image"><img src="{{users[$index].images}}" ng-model="img" alt=""></div>
			<h2 class="namae" ng-model="namae">{{users[$index].firstname}}  {{users[$index].lastname}}</h2>
			<p id="login">ログイン時間</p>
<!-- 			<div login="like($index)">すきだよ</div>
			<div login="nope($index)">嫌いです！</div> -->
		</li>
		<button type="" id="square">ボタン</button>
		<div class="pre">
<!-- 		<pre>{{likeusers}}</pre>
		<pre>{{nopeusers}}</pre> -->
		</div>
	</div>
</body>
</html>