*{
	margin: 0;
	padding: 0;
}

html{
	height:100%;
	overflow: hidden;
}

body{
	height: 100%;
	overflow: hidden;
	background-color:rgba(119, 212, 218,0.8) ;
}

.top{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.user{
	position: absolute;
	list-style-type: none;
	background-color: #fff;
	height: 90%;
	width: 70%;
	top: 5%;
	right: 15%;
	overflow: hidden;
	border-radius: 15px;	
/*	border:solid 2px #000;*/
	box-shadow:  2px 5px 5px #000;

}

.user h2{
	display: inline-block;
	height: 20%;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	font-weight: normal;
	font-size: 20px;
}

.user #login{
	color: rgba(0,0,0,0.4);
	font-size: 12px;
	margin-top: 10px;
}

.user p,li button{
	float: left;
	padding: 10px;
}

.image{
	width:100%;
	height: 90%;
/*	border-bottom: 3px solid #000;*/
	background-color: #cd8b68;
	overflow: hidden;
}

li img{
	height: 100%;
}

.like{
	width: 100%;
	height: 100%;
	right: -100%;
	background-color:#cd8b68;
	position: absolute;
	text-align: center;
	padding-top: 30px;
	overflow: scroll;
	color: #000;
}

.like li{
	list-style-type: none;
	background-color: #fff;
	height: 50%;
	width: 40%;
	float: left;
	overflow: hidden;
	color: #000;
	border-radius: 5%;
	margin-bottom: 30px;
	margin-left: 30px;
	box-shadow: 2px 3px 3px #000;
}

.like h2{
	font-size: 100%;
}

.image2{
	width:100%;
	height: 90%;
/*	border-bottom: 3px solid #000;*/
	background-color: #cd8b68;
	overflow: hidden;
}

.nope{
	width: 100%;
	height: 100%;
	left: -100%;
	background-color: #cd8b68;
	position: absolute;
	text-align: center;
	padding-top: 30px;
	overflow: scroll;
	color: #000;
}

.nope li{
	list-style-type: none;
	background-color: #fff;
	height: 50%;
	width: 40%;
	float: left;
	overflow: hidden;
	color: #000;
	border-radius: 5%;
	margin-bottom: 30px;
	margin-left: 30px;
	box-shadow: 2px 3px 3px #000;
}

.nope h2{
	font-size: 100%;
}

h1{
	border:2px solid #000;
	padding: 10px;
	font-weight: normal;
	width: 70%;
	margin: 0 auto;
	letter-spacing: 0.2em;
	margin-bottom: 20px;
}

#drag{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border:3px solid #000;
	background-color: rgba(255,255,255,0.9);
	position: absolute;
	text-align: center;
	cursor: pointer;
	box-shadow: 2px 4px 10px #000;
	/*margin-top:50%; */
}

#drag2{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border:3px solid #000;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	right: 0;
	text-align: center;
	cursor: pointer;
	box-shadow: 2px 4px 10px #000;
	color: #fff;
	/*margin-top:50%; */
}

form{
	height: 100vh;
}

#square{
	position: fixed;
	top: 0;
	padding: 10px;
	right: 0;
}

.pre{
	z-index: 10;
	/*background-color: red;*/
	position: fixed;
	bottom: 0;
}

.kieru{
	display: none;
}

.done{
	display: none;
}

.red{
	color: red;
}










