*{
	margin: 0;
	padding: 0;
}


li{
	list-style-type: none;
	background-color: #ccc;
	height: 100vh;
	overflow: hidden;
}

li h2{
	display: inline-block;
	height: 20%;
	float: left;
}

li p,li button{
	float: left;
}

.image{
	width:100%;
	height: 80%;
	border-bottom: 3px solid #000;
	overflow: hidden;
}

li img{
	height: 100%;
}

#square{
	position: fixed;
	top: 0;
	padding: 10px;

}