*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	overflow: hidden;

}


li{
	list-style-type: none;
	background-color: #ccc;
	height: 100vh;
	overflow: hidden;
}

li h2{
	display: inline-block;
	height: 20%;
	float: left;
}

li p,li button{
	float: left;
	padding: 10px;
}

.image{
	width:100%;
	height: 80%;
	border-bottom: 3px solid #000;
	background-color: #cd8b68;
	overflow: hidden;
}

li img{
	width: 100%;
}

#square{
	position: fixed;
	top: 0;
	padding: 10px;

}

.pre{
	z-index: 10;
	/*background-color: red;*/
	position: fixed;
	bottom: 0;
}

.kieru{
	display: none;
}

.red{
	color: red;
}









